* {
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(16, 157, 251);
    margin-bottom: 10px;
    text-decoration: underline;
  }

body {
    background-image: url("./images/temp-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}