* {
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(16, 157, 251);
    margin-bottom: 10px;
    text-decoration: underline;
  }

.credits {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

.song-select{
    border-radius: 5px;
    border: 1px solid #000;
    padding: 20px 20px;
    background: rgb(0, 247, 255);
    font-size: 2em;
    cursor: pointer;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.audio{
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}